@{
    ViewBag.Title = "About";
}

@section CssAndJs {
}

@section HeaderMessage {
    <h1>About DodoWare.Com</h1>
}

<h2>About DodoWare.Com</h2>
<p>
DodoWare.Com was created for people who may need a little help with math problems involving percents, ratios,
and fractions.  It started out as a simple sales tax calculator, then evolved into the website you see today.
</p>
<p>
Ideas for new math tools are always welcome!  Please use the <a href="Contact">Contact</a> link to submit suggestions.
</p>

<h2>Terms of Use</h2>
<p>By using this website, you agree with the following Terms of Use.</p>
<p>
This website is provided on an "AS-IS" basis.  Any express or implied warranties, including but not limited to, the
implied warranties of merchantability and fitness for a particular purpose, are disclaimed.  In no event shall the
website owners, operators, or affiliates be liable for any direct, indirect, incidental, special, exemplary, or
consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits;
or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including
negligence or otherwise) arising in any way out of the use of this website, even if advised of the possibility of such damage.
</p>
<p>
All information contained in this website, including results of all mathematical calculations, is provided on a "for information only"
basis.  By using this website you assume all risks associated with inaccurate information, regardless of how the inaccuracies arose
(including, but not limted to, errors in mathematical algorithms and errors in how information is displayed, rendered, or presented).
Use of math tools for any purpose that may carry significant human, financial, commercial, or legal consequences is forbidden.
</p>
