@{
    ViewBag.Title = "Contact";
}

@section CssAndJs {
    <script src="~/Scripts/dodoware-contact.js"></script>
}

@section HeaderMessage {
    <h1>Contact DodoWare.Com</h1>
}

<p>
    User forums are coming soon!  In the meantime you can contact us by sending email to
    <b><span>contact</span><span>@@</span><span>dodoware</span><span>.</span><span>com</span></b>.
</p>
