@{
    ViewBag.Title = "DodoWare.Com Home";
}

@section CssAndJs {
    <link href="~/Content/dodoware-main-menu.css" rel="stylesheet" />
}

@section HeaderMessage {
<h1>Welcome to DodoWare.Com!</h1>
<h2>Free math tools with no ads, logins, or popups.</h2>
<h2>To begin, select from the math tools listed below.</h2>
}

<div class="main-menu">
    <div class="main-menu-row">
        <div class="main-menu-link-container">
            <a class="main-menu-link" href="~/Percents">Percents</a>
        </div>
        <div class="main-menu-text-container">
            <p class="main-menu-text">Common scenarios involving percentages.</p>
        </div>
    </div>
    <div class="main-menu-row">
        <div class="main-menu-link-container">
            <a class="main-menu-link" href="~/Ratio">Ratios</a>
        </div>
        <div class="main-menu-text-container">
            <p class="main-menu-text">Complete a ratio.</p>
        </div>
    </div>
    <div class="main-menu-row">
        <div class="main-menu-link-container">
            <a class="main-menu-link" href="~/Fractions">Fractions</a>
        </div>
        <div class="main-menu-text-container">
            <p class="main-menu-text">Add, subtract, multiply, or divide fractions.</p>
        </div>
    </div>
    <div class="main-menu-row">
        <div class="main-menu-link-container">
            <a class="main-menu-link" href="~/Discount">Discounts</a>
        </div>
        <div class="main-menu-text-container">
            <p class="main-menu-text">Explore how discounts affect a final price.</p>
        </div>
    </div>
</div>
